.footer{
    width: 100%;
    min-height: 20vh;
    background-color: #1d1e20;
    position:relative;
    z-index: 2;
    bottom: 0;
    margin: 0;
    text-align: center;
    
}

.designedBy{
    color: white;
    bottom: 0;
    width: inherit;
    height: 10px;
    position: absolute;
}