.footer{
    width: 100%;
    min-height: 20vh;
    background-color: #1d1e20;
    position:relative;
    z-index: 2;
    bottom: 0;
    margin: 0;
    text-align: center;
    
}

.designedBy{
    color: white;
    bottom: 10px;
    width: inherit;
    height: 10px;
    position: absolute;
    
}

.contact{
    text-decoration: none;
    color: white;
    margin: 0 60px 0 60px;
}

.contact:hover{
    color: rgba(255, 255, 255, 0.753);
}

.link-container{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
}